@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
html {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.label p {
  margin-bottom: 0;
  font-size: 24px;
  user-select: none;
}

button {
  --tw-ring-shadow: 0 0 #000 !important;
}

h2,
h6,
p,
span {
  user-select: none;
}
